{% extends 'base.html.twig' %}

{% block title %}Ajouter{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <h1 class="text-center my-5">Création de compte</h1>
        {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.role) }}
            {{ form_row(registrationForm.promotion) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe temporaire'
            }) }}

            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
