{% extends 'base.html.twig' %}

{% block title %}Hello AdminGroupController!{% endblock %}

{% block body %}
<h1> Groups</h1>
    <a href="{{ path('app_admingroup_create') }}"
       class="btn btn-primary">creation group</a>

<table class="table table-dark">
    <tr>
        <th>Non</th>
        <th>Auteur</th>
        <th>Date création</th>
        <th>Tag</th>
        <th width="250px"></th>

        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                 <td>{{ group.author }}</td>
                     <td>{{ group.date|date('d/m/Y H:i') }}</td>
                         <td>{{ group.tag }}</td>

                    <td>
                        <a href="{{ path('app_admingroup_edit',{'id': group.id}) }}"
                        class="btn btn-primary">Modifier</a>

                        <a class="btn btn-danger"
                           href="{{ path('app_admingroup_delete', {'id': group.id}) }}">
                            Supprimer
                        </a>
                    </td>
            </tr>
    </tr>

    {% endfor %}


</table>




{% endblock %}
