{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Gestion des Groupes</h1>
    <div class="text-center">
        <a href="{{ path('app_admingroup_create') }}"
           class="btn btn-primary my-3">Ajouter</a>
    </div>

    <table class="table table-dark">
        <tr>
            <th>Nom</th>
            <th>Parent</th>
            <th>Auteur</th>
            <th>Date de création</th>
            <th>Tag</th>
        </tr>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.parent }}</td>
                <td>{{ group.author }}</td>
                <td>{{ group.date|date('d/m/Y H:i') }}</td>
                <td>{{ group.tag }}</td>
                <td>
                    <a href="{{ path('app_admingroup_edit',{'id': group.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                    <a class="btn btn-danger" href="{{ path('app_admingroup_delete', {'id': group.id}) }}"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
