{% extends 'base.html.twig' %}

{% block title %}Hello AdminArticleController!{% endblock %}

{% block body %}
    <h1> Modification</h1>
    <table class="table">

        <tr class="table table-striped table-dark">
            <th>Users</th>
            <th>Group</th>
            <th>Events</th>
            <th width="250px"></th>
        </tr>
        {% for user in users %}
            <tr class="table table-striped table-dark">
                <th>{{ user.id }}</th>
                <th>{{ user.firstname }}</th>
                <th>{{ user.lastname }}</th>
                <th> {{ user.email('d/m/Y H:i') }}</th>
                <th>
                   <a href="{{ path('app_adminuser_edit', {'id': user.id}) }}"
                      class="btn btn-primary">Modifier</a>

                   <a href="{{ path('app_adminuser_delete', {'id': user.id}) }}"
                       class="btn btn-danger">Supprimer</a>

                </th>
            </tr>


        {% endfor %}


    </table>

{% endblock %}
